@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
.Home button {
  background-color: transparent;
  border: transparent;
  padding: 0px;
  margin: 0px;
  outline: 0px; }

.Home .ContentTitle {
  margin-top: 15px;
  margin-left: 2vw; }
  .Home .ContentTitle h1 {
    font-size: 30px;
    font-weight: 700; }

.Home .Content .HomeMenu {
  display: flex;
  justify-content: space-around;
  height: 50px;
  margin-top: 15px; }
  .Home .Content .HomeMenu p {
    font-size: 19px;
    font-weight: 700;
    transition: 500ms color; }

.Home .Content .HomeContent {
  transition: 250ms opacity; }

.Home .Content .Market .MarketSorter {
  display: flex;
  justify-content: space-around;
  height: 50px; }
  .Home .Content .Market .MarketSorter p {
    font-size: 15px;
    font-weight: 700;
    transition: 500ms color;
    width: 60px; }

.Home .Content .Market .MarketList {
  display: grid;
  grid-row-gap: 10px;
  width: 100%;
  transition: 250ms opacity; }
  .Home .Content .Market .MarketList .Show {
    background-color: red; }
  .Home .Content .Market .MarketList .CoinBlock {
    width: 85vw;
    box-shadow: 0 3px 20px 0 #e8e8e8;
    border-radius: 13px;
    height: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    align-items: center; }
    .Home .Content .Market .MarketList .CoinBlock img {
      width: 50px;
      height: 50px;
      object-fit: cover;
      margin-right: 15px;
      border-radius: 50%; }
    .Home .Content .Market .MarketList .CoinBlock .Info {
      display: grid;
      grid-template-rows: 1fr 1fr;
      align-items: center; }
      .Home .Content .Market .MarketList .CoinBlock .Info .CoinName {
        font-size: 15px;
        font-weight: 700; }
      .Home .Content .Market .MarketList .CoinBlock .Info .CoinTicker {
        font-size: 13px;
        color: #8f8f8f; }
    .Home .Content .Market .MarketList .CoinBlock .Price {
      margin-left: auto;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      width: 120px;
      align-items: center; }
      .Home .Content .Market .MarketList .CoinBlock .Price .CoinPrice {
        grid-column: 1 / 3;
        text-align: right;
        font-size: 15px;
        font-weight: 700; }
      .Home .Content .Market .MarketList .CoinBlock .Price .CoinChangePrice {
        text-align: right;
        font-size: 13px; }
      .Home .Content .Market .MarketList .CoinBlock .Price .CoinChangeRate {
        text-align: right;
        font-size: 13px; }

.Home .Content .MyAsset {
  margin-top: 15px; }
  .Home .Content .MyAsset .MyAssetValueArea .MyAssetValueAreaHeader {
    display: flex; }
    .Home .Content .MyAsset .MyAssetValueArea .MyAssetValueAreaHeader .MyAssetValueLabel {
      margin-left: 2vw; }
    .Home .Content .MyAsset .MyAssetValueArea .MyAssetValueAreaHeader .MyAssetReset {
      margin-left: auto; }
  .Home .Content .MyAsset .MyAssetValueArea .MyAssetValueAreaBody {
    margin: 10px 0px; }
    .Home .Content .MyAsset .MyAssetValueArea .MyAssetValueAreaBody .MyAssetValue {
      text-align: center;
      font-size: 40px;
      font-weight: 700;
      padding: 5px; }
    .Home .Content .MyAsset .MyAssetValueArea .MyAssetValueAreaBody .MyAssetValueInfo {
      height: 40px;
      display: flex;
      justify-content: space-around;
      font-size: 23px; }
  .Home .Content .MyAsset .MyAssetListArea .MyAssetListLabel {
    margin-left: 2vw;
    margin-bottom: 15px; }
  .Home .Content .MyAsset .MyAssetListArea .MyAssetList {
    display: grid;
    grid-row-gap: 10px; }
    .Home .Content .MyAsset .MyAssetListArea .MyAssetList .Won {
      width: 85vw;
      box-shadow: 0 3px 20px 0 #e8e8e8;
      border-radius: 13px;
      height: 50px;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 5%;
      padding-right: 5%;
      display: flex;
      align-items: center; }
      .Home .Content .MyAsset .MyAssetListArea .MyAssetList .Won img {
        width: 50px;
        height: 50px;
        object-fit: cover;
        margin-right: 15px;
        border-radius: 50%; }
      .Home .Content .MyAsset .MyAssetListArea .MyAssetList .Won .Info {
        display: grid;
        grid-template-rows: 1fr 1fr;
        align-items: center; }
        .Home .Content .MyAsset .MyAssetListArea .MyAssetList .Won .Info .WonLabel {
          font-size: 15px;
          font-weight: 700; }
        .Home .Content .MyAsset .MyAssetListArea .MyAssetList .Won .Info .WonTicker {
          font-size: 13px;
          color: #8f8f8f; }
      .Home .Content .MyAsset .MyAssetListArea .MyAssetList .Won .WonPrice {
        align-self: center;
        font-size: 15px;
        font-weight: 700;
        margin-left: auto; }
    .Home .Content .MyAsset .MyAssetListArea .MyAssetList .AssetBlock {
      width: 85vw;
      box-shadow: 0 3px 20px 0 #e8e8e8;
      border-radius: 13px;
      padding: 5px 5%; }
      .Home .Content .MyAsset .MyAssetListArea .MyAssetList .AssetBlock .AssetBlockHeader {
        height: 50px;
        display: flex;
        align-items: center;
        margin-bottom: 10px; }
        .Home .Content .MyAsset .MyAssetListArea .MyAssetList .AssetBlock .AssetBlockHeader img {
          width: 50px;
          height: 50px;
          object-fit: cover;
          margin-right: 15px;
          border-radius: 50%; }
        .Home .Content .MyAsset .MyAssetListArea .MyAssetList .AssetBlock .AssetBlockHeader .Info {
          display: grid;
          grid-template-rows: 1fr 1fr;
          align-items: center; }
          .Home .Content .MyAsset .MyAssetListArea .MyAssetList .AssetBlock .AssetBlockHeader .Info .AssetName {
            font-size: 15px;
            font-weight: 700; }
          .Home .Content .MyAsset .MyAssetListArea .MyAssetList .AssetBlock .AssetBlockHeader .Info .AssetTicker {
            font-size: 13px;
            color: #8f8f8f; }
        .Home .Content .MyAsset .MyAssetListArea .MyAssetList .AssetBlock .AssetBlockHeader .Summary {
          margin-left: auto;
          display: grid;
          grid-template-rows: 1fr 1fr;
          align-items: center;
          justify-items: right; }
          .Home .Content .MyAsset .MyAssetListArea .MyAssetList .AssetBlock .AssetBlockHeader .Summary .TotalPrice {
            font-size: 15px;
            font-weight: 700; }
          .Home .Content .MyAsset .MyAssetListArea .MyAssetList .AssetBlock .AssetBlockHeader .Summary .Quantity {
            font-size: 13px; }
      .Home .Content .MyAsset .MyAssetListArea .MyAssetList .AssetBlock .AssetBlockBody {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr 2fr;
        grid-row-gap: 5px;
        justify-items: right; }
        .Home .Content .MyAsset .MyAssetListArea .MyAssetList .AssetBlock .AssetBlockBody p {
          font-size: 13px; }
        .Home .Content .MyAsset .MyAssetListArea .MyAssetList .AssetBlock .AssetBlockBody .Label {
          color: #8f8f8f; }
        .Home .Content .MyAsset .MyAssetListArea .MyAssetList .AssetBlock .AssetBlockBody .Avg {
          color: black; }

Body {
  font-family: "Noto Sans KR", sans-serif;
  margin: 0px;
  width: 100%;
  height: 100%; }
  Body .ContentWrap {
    width: 95%;
    margin-left: calc(5% / 2); }
  Body .Navigation {
    position: fixed;
    height: 65px;
    bottom: 0; }

.inActive {
  color: #8f8f8f; }

.fadeAway {
  opacity: 0; }

h1,
p {
  margin: 0px;
  padding: 0px; }
