@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
.Home button {
  background-color: transparent;
  border: transparent;
  padding: 0px;
  margin: 0px;
  outline: 0px; }

.Home .ContentTitle {
  margin-top: 15px;
  margin-left: 2vw; }
  .Home .ContentTitle h1 {
    font-size: 30px;
    font-weight: 700; }

.Home .Content .HomeMenu {
  display: flex;
  justify-content: space-around;
  height: 50px;
  margin-top: 15px; }
  .Home .Content .HomeMenu p {
    font-size: 19px;
    font-weight: 700;
    transition: 500ms color; }

.Home .Content .HomeContent {
  transition: 250ms opacity; }

.Home .Content .Market .MarketOverview {
  position: relative; }
  .Home .Content .Market .MarketOverview .MarketOverviewLabel {
    font-weight: 700;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0); }
  .Home .Content .Market .MarketOverview .MarketOverviewLine {
    display: flex;
    justify-content: space-around; }
    .Home .Content .Market .MarketOverview .MarketOverviewLine .OBlock {
      margin-top: 10px;
      margin-bottom: 5px;
      display: grid;
      text-align: center;
      height: 40px; }
      .Home .Content .Market .MarketOverview .MarketOverviewLine .OBlock p.Amount {
        font-size: 18px;
        font-weight: 700; }
    .Home .Content .Market .MarketOverview .MarketOverviewLine .MarketRise {
      color: #ff4b4b; }
    .Home .Content .Market .MarketOverview .MarketOverviewLine .MarketFall {
      color: #3555ff; }

.Home .Content .Market .MarketSorter {
  display: flex;
  justify-content: space-around;
  height: 50px; }
  .Home .Content .Market .MarketSorter p {
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    transition: 500ms color;
    width: 60px; }

.Home .Content .Market .MarketListArea {
  transition: 250ms opacity; }
  .Home .Content .Market .MarketListArea .MarketSearch {
    width: 85vw;
    box-shadow: 0 3px 10px 0 #e8e8e8;
    border-radius: 13px;
    padding: 5px 5%;
    border: 1px solid #e8e8e8;
    height: 30px;
    margin-bottom: 10px; }
  .Home .Content .Market .MarketListArea .MarketList {
    display: grid;
    grid-row-gap: 10px;
    width: 100%; }
    .Home .Content .Market .MarketListArea .MarketList .Show {
      background-color: red; }
    .Home .Content .Market .MarketListArea .MarketList .CoinBlock {
      width: 85vw;
      box-shadow: 0 3px 10px 0 #e8e8e8;
      border-radius: 13px;
      height: 50px;
      padding: 5px 5%;
      display: flex;
      border: 1px solid #e8e8e8;
      align-items: center; }
      .Home .Content .Market .MarketListArea .MarketList .CoinBlock img {
        width: 50px;
        height: 50px;
        object-fit: cover;
        margin-right: 15px;
        border-radius: 50%; }
      .Home .Content .Market .MarketListArea .MarketList .CoinBlock .Info {
        display: grid;
        grid-template-rows: 1fr 1fr;
        align-items: center; }
        .Home .Content .Market .MarketListArea .MarketList .CoinBlock .Info .CoinName {
          font-size: 15px;
          font-weight: 700; }
        .Home .Content .Market .MarketListArea .MarketList .CoinBlock .Info .CoinTicker {
          font-size: 13px;
          color: #8f8f8f; }
      .Home .Content .Market .MarketListArea .MarketList .CoinBlock .Price {
        margin-left: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        width: 120px;
        align-items: center; }
        .Home .Content .Market .MarketListArea .MarketList .CoinBlock .Price .CoinPrice {
          grid-column: 1 / 3;
          text-align: right;
          font-size: 15px;
          font-weight: 700; }
        .Home .Content .Market .MarketListArea .MarketList .CoinBlock .Price .CoinChangePrice {
          text-align: right;
          font-size: 13px; }
        .Home .Content .Market .MarketListArea .MarketList .CoinBlock .Price .CoinChangeRate {
          text-align: right;
          font-size: 13px; }

.Home .Content .MyAsset {
  margin-top: 15px; }
  .Home .Content .MyAsset .MyAssetValueArea .MyAssetValueAreaHeader {
    display: flex; }
    .Home .Content .MyAsset .MyAssetValueArea .MyAssetValueAreaHeader .MyAssetValueLabel {
      margin-left: 2vw; }
    .Home .Content .MyAsset .MyAssetValueArea .MyAssetValueAreaHeader .MyAssetReset {
      margin-left: auto; }
  .Home .Content .MyAsset .MyAssetValueArea .MyAssetValueAreaBody {
    margin: 10px 0px; }
    .Home .Content .MyAsset .MyAssetValueArea .MyAssetValueAreaBody .MyAssetValue {
      text-align: center;
      font-size: 40px;
      font-weight: 700;
      padding: 5px; }
    .Home .Content .MyAsset .MyAssetValueArea .MyAssetValueAreaBody .MyAssetValueInfo {
      height: 40px;
      display: flex;
      justify-content: space-around;
      font-size: 23px; }
  .Home .Content .MyAsset .MyAssetListArea .MyAssetListLabel {
    margin-left: 2vw;
    margin-bottom: 15px; }
  .Home .Content .MyAsset .MyAssetListArea .MyAssetList {
    display: grid;
    grid-row-gap: 10px; }
    .Home .Content .MyAsset .MyAssetListArea .MyAssetList .Won {
      width: 85vw;
      box-shadow: 0 3px 20px 0 #e8e8e8;
      border-radius: 13px;
      height: 50px;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 5%;
      padding-right: 5%;
      display: flex;
      align-items: center;
      border: 1px solid #e8e8e8; }
      .Home .Content .MyAsset .MyAssetListArea .MyAssetList .Won img {
        width: 50px;
        height: 50px;
        object-fit: cover;
        margin-right: 15px;
        border-radius: 50%; }
      .Home .Content .MyAsset .MyAssetListArea .MyAssetList .Won .Info {
        display: grid;
        grid-template-rows: 1fr 1fr;
        align-items: center; }
        .Home .Content .MyAsset .MyAssetListArea .MyAssetList .Won .Info .WonLabel {
          font-size: 15px;
          font-weight: 700; }
        .Home .Content .MyAsset .MyAssetListArea .MyAssetList .Won .Info .WonTicker {
          font-size: 13px;
          color: #8f8f8f; }
      .Home .Content .MyAsset .MyAssetListArea .MyAssetList .Won .WonPrice {
        align-self: center;
        font-size: 15px;
        font-weight: 700;
        margin-left: auto; }
    .Home .Content .MyAsset .MyAssetListArea .MyAssetList .AssetBlock {
      width: 85vw;
      box-shadow: 0 3px 20px 0 #e8e8e8;
      border-radius: 13px;
      border: 1px solid #e8e8e8;
      padding: 5px 5%; }
      .Home .Content .MyAsset .MyAssetListArea .MyAssetList .AssetBlock .AssetBlockHeader {
        height: 50px;
        display: flex;
        align-items: center;
        margin-bottom: 10px; }
        .Home .Content .MyAsset .MyAssetListArea .MyAssetList .AssetBlock .AssetBlockHeader img {
          width: 50px;
          height: 50px;
          object-fit: cover;
          margin-right: 15px;
          border-radius: 50%; }
        .Home .Content .MyAsset .MyAssetListArea .MyAssetList .AssetBlock .AssetBlockHeader .Info {
          display: grid;
          grid-template-rows: 1fr 1fr;
          align-items: center; }
          .Home .Content .MyAsset .MyAssetListArea .MyAssetList .AssetBlock .AssetBlockHeader .Info .AssetName {
            font-size: 15px;
            font-weight: 700; }
          .Home .Content .MyAsset .MyAssetListArea .MyAssetList .AssetBlock .AssetBlockHeader .Info .AssetTicker {
            font-size: 13px;
            color: #8f8f8f; }
        .Home .Content .MyAsset .MyAssetListArea .MyAssetList .AssetBlock .AssetBlockHeader .Summary {
          margin-left: auto;
          display: grid;
          grid-template-rows: 1fr 1fr;
          align-items: center;
          justify-items: right; }
          .Home .Content .MyAsset .MyAssetListArea .MyAssetList .AssetBlock .AssetBlockHeader .Summary .TotalPrice {
            font-size: 15px;
            font-weight: 700; }
          .Home .Content .MyAsset .MyAssetListArea .MyAssetList .AssetBlock .AssetBlockHeader .Summary .Quantity {
            font-size: 13px; }
      .Home .Content .MyAsset .MyAssetListArea .MyAssetList .AssetBlock .AssetBlockBody {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr 2fr;
        grid-row-gap: 5px;
        justify-items: right; }
        .Home .Content .MyAsset .MyAssetListArea .MyAssetList .AssetBlock .AssetBlockBody p {
          font-size: 13px; }
        .Home .Content .MyAsset .MyAssetListArea .MyAssetList .AssetBlock .AssetBlockBody .Label {
          color: #8f8f8f; }
        .Home .Content .MyAsset .MyAssetListArea .MyAssetList .AssetBlock .AssetBlockBody .Avg {
          color: black; }

.Navigation {
  position: fixed;
  height: 65px;
  width: 100vw;
  bottom: 0;
  box-shadow: 0px 0px 16px #e8e8e8;
  display: flex;
  background-color: white;
  z-index: 9999999; }
  .Navigation button {
    background-color: transparent;
    border: transparent;
    padding: 0px;
    margin: 0px;
    outline: 0px; }
  .Navigation .Menu {
    display: flex;
    width: 90%;
    height: 80%;
    margin: auto;
    align-self: center;
    justify-content: space-around; }
    .Navigation .Menu .m-button {
      width: 40px;
      height: 40px;
      display: grid;
      grid-template-rows: 2fr 1fr;
      justify-items: center;
      margin: auto;
      transition: 250ms color; }
      .Navigation .Menu .m-button i {
        font-size: 25px; }
      .Navigation .Menu .m-button p {
        text-align: center;
        transition: 250ms color;
        font-size: 11px; }
    .Navigation .Menu .m-button.inActive p {
      color: transparent; }

.Coin button {
  background-color: transparent;
  border: transparent;
  padding: 0px;
  margin: 0px;
  outline: 0px; }

.Coin .ContentTitle {
  margin-top: 15px;
  margin-left: 2vw; }
  .Coin .ContentTitle h1 {
    font-size: 30px;
    font-weight: 700; }

.Coin .Content {
  transition: 250ms opacity; }
  .Coin .Content .CoinInfo {
    margin-top: 10px; }
    .Coin .Content .CoinInfo .CoinInfoHeader {
      margin-left: 3vw;
      display: flex;
      position: relative; }
      .Coin .Content .CoinInfo .CoinInfoHeader img {
        height: 25px;
        width: 25px; }
      .Coin .Content .CoinInfo .CoinInfoHeader .CoinSelector {
        margin-left: 3vw;
        height: 25px;
        width: 250px;
        padding: 0px;
        border: 0px;
        font-size: 19px;
        font-weight: 700;
        font-family: "Noto Sans KR", sans-serif;
        background-color: transparent;
        border-bottom: 1px black solid; }
      .Coin .Content .CoinInfo .CoinInfoHeader .DropdownMenu {
        position: absolute;
        top: 25px;
        left: calc(25px + 3vw);
        width: 248px;
        overflow: scroll;
        max-height: 0px;
        transition: 250ms max-height;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        background-color: white;
        scrollbar-width: 0; }
        .Coin .Content .CoinInfo .CoinInfoHeader .DropdownMenu .DropdownCoinBlock {
          width: 248px;
          border: transparent;
          background-color: transparent;
          padding: 5px;
          display: flex;
          align-items: center;
          border-top: 1px solid #8f8f8f; }
          .Coin .Content .CoinInfo .CoinInfoHeader .DropdownMenu .DropdownCoinBlock .CoinName {
            margin-left: 10px;
            font-size: 19px; }
      .Coin .Content .CoinInfo .CoinInfoHeader .DropdownMenu::-webkit-scrollbar {
        display: none; }
      .Coin .Content .CoinInfo .CoinInfoHeader .DropdownMenu.Show {
        max-height: 200px;
        border: 1px solid #8f8f8f; }
    .Coin .Content .CoinInfo .CoinInfoBody .CoinPrice {
      text-align: center;
      font-size: 40px;
      font-weight: 700;
      padding: 5px; }
    .Coin .Content .CoinInfo .CoinInfoBody .CoinChangeInfo {
      height: 40px;
      display: flex;
      justify-content: space-around;
      font-size: 23px; }
  .Coin .Content .CoinContent {
    margin-top: 10px; }
    .Coin .Content .CoinContent .CoinContentSelector {
      display: flex;
      justify-content: space-around;
      height: 50px; }
      .Coin .Content .CoinContent .CoinContentSelector p {
        font-size: 16px;
        font-weight: 700;
        transition: 250ms color;
        width: 60px; }
    .Coin .Content .CoinContent .CoinContentBody {
      transition: 250ms opacity; }

.About .ContentTitle {
  margin-top: 15px;
  margin-left: 2vw; }
  .About .ContentTitle h1 {
    font-size: 30px;
    font-weight: 700; }

.OrderBook .Loading {
  display: flex;
  justify-content: space-around;
  margin-top: 10vh;
  font-size: 5vh; }

.OrderBook .OrderBookLoaded {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; }
  .OrderBook .OrderBookLoaded .Label {
    font-weight: 700;
    text-align: center;
    margin-bottom: 5px; }
  .OrderBook .OrderBookLoaded .AskArea {
    display: grid;
    grid-template-rows: repeat(14, 1fr);
    grid-gap: 5px; }
    .OrderBook .OrderBookLoaded .AskArea .AskBlock {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      height: 100%; }
    .OrderBook .OrderBookLoaded .AskArea p.Size {
      font-size: 14px;
      text-align: center; }
  .OrderBook .OrderBookLoaded .PriceArea {
    display: grid;
    grid-template-rows: repeat(14, 1fr);
    grid-gap: 5px;
    justify-items: center; }
    .OrderBook .OrderBookLoaded .PriceArea p.Price {
      font-size: 14px;
      text-align: center;
      font-weight: 700; }
    .OrderBook .OrderBookLoaded .PriceArea p.ChangeRate {
      text-align: center;
      font-size: 12px; }
  .OrderBook .OrderBookLoaded .BidArea {
    display: grid;
    grid-template-rows: repeat(14, 1fr);
    grid-gap: 5px;
    align-items: center;
    justify-items: center; }
    .OrderBook .OrderBookLoaded .BidArea .BidBlock {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      height: 100%; }
    .OrderBook .OrderBookLoaded .BidArea .OverBid {
      grid-row: 1 / 8; }
    .OrderBook .OrderBookLoaded .BidArea p.Size {
      font-size: 14px;
      text-align: center; }

.Order button {
  background-color: transparent;
  border: transparent;
  padding: 0px;
  margin: 0px;
  outline: 0px; }

.Order .ContentTitle {
  margin-top: 15px;
  margin-left: 2vw; }
  .Order .ContentTitle h1 {
    font-size: 30px;
    font-weight: 700; }

.Order .Content {
  transition: 250ms opacity; }
  .Order .Content .CoinInfo {
    margin-top: 10px; }
    .Order .Content .CoinInfo .CoinInfoHeader {
      margin-left: 3vw;
      display: flex;
      position: relative; }
      .Order .Content .CoinInfo .CoinInfoHeader img {
        height: 25px;
        width: 25px; }
      .Order .Content .CoinInfo .CoinInfoHeader .CoinSelector {
        margin-left: 3vw;
        height: 25px;
        width: 250px;
        padding: 0px;
        border: 0px;
        font-size: 19px;
        font-weight: 700;
        font-family: "Noto Sans KR", sans-serif;
        background-color: transparent;
        border-bottom: 1px black solid; }
      .Order .Content .CoinInfo .CoinInfoHeader .DropdownMenu {
        position: absolute;
        top: 25px;
        left: calc(25px + 3vw);
        width: 248px;
        overflow: scroll;
        max-height: 0px;
        transition: 250ms max-height;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        background-color: white;
        scrollbar-width: 0; }
        .Order .Content .CoinInfo .CoinInfoHeader .DropdownMenu .DropdownCoinBlock {
          width: 248px;
          border: transparent;
          background-color: transparent;
          padding: 5px;
          display: flex;
          align-items: center;
          border-top: 1px solid #8f8f8f; }
          .Order .Content .CoinInfo .CoinInfoHeader .DropdownMenu .DropdownCoinBlock .CoinName {
            margin-left: 10px;
            font-size: 19px; }
      .Order .Content .CoinInfo .CoinInfoHeader .DropdownMenu::-webkit-scrollbar {
        display: none; }
      .Order .Content .CoinInfo .CoinInfoHeader .DropdownMenu.Show {
        max-height: 200px;
        border: 1px solid #8f8f8f; }
    .Order .Content .CoinInfo .CoinInfoBody .CoinPrice {
      text-align: center;
      font-size: 40px;
      font-weight: 700;
      padding: 5px; }
    .Order .Content .CoinInfo .CoinInfoBody .CoinChangeInfo {
      height: 40px;
      display: flex;
      justify-content: space-around;
      font-size: 23px; }
  .Order .Content .OrderContent .OrderSelector {
    display: flex;
    justify-content: space-around;
    height: 50px; }
    .Order .Content .OrderContent .OrderSelector p {
      font-size: 16px;
      font-weight: 700;
      transition: 250ms color;
      width: 60px; }
  .Order .Content .OrderContent .OrderContentBody {
    transition: 250ms opacity; }
    .Order .Content .OrderContent .OrderContentBody .Buy .BuyForm .V {
      text-align: right;
      font-size: 23px;
      font-weight: 700; }
    .Order .Content .OrderContent .OrderContentBody .Buy .BuyForm .BuyButton {
      background-color: #ffa3a3;
      width: 100%;
      height: 50px;
      font-size: 21px;
      border-radius: 10px; }
    .Order .Content .OrderContent .OrderContentBody .Sell .SellForm .V {
      text-align: right;
      font-size: 23px;
      font-weight: 700; }
    .Order .Content .OrderContent .OrderContentBody .Sell .SellForm .SellButton {
      background-color: #9babff;
      width: 100%;
      height: 50px;
      font-size: 21px;
      border-radius: 10px; }

Body {
  font-family: "Noto Sans KR", sans-serif;
  margin: 0px;
  width: 100%;
  height: 100%; }
  Body .ContentWrap {
    width: 95%;
    margin-left: calc(5% / 2);
    transition: 250ms opacity;
    margin-bottom: 75px; }

button {
  border-bottom: 1px solid black; }

.inActive {
  color: #8f8f8f; }

.fadeAway {
  opacity: 0; }

h1,
p {
  margin: 0px;
  padding: 0px; }
