@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import "Home.scss";

Body {
  font-family: "Noto Sans KR", sans-serif;
  margin: 0px;
  width: 100%;
  height: 100%;
  .ContentWrap {
    width: 95%;
    margin-left: calc(5% / 2);
  }
  .Navigation {
    position: fixed;
    height: 65px;
    bottom: 0;
  }
}

.inActive {
  color: #8f8f8f;
}

.fadeAway {
  opacity: 0;
}

h1,
p {
  margin: 0px;
  padding: 0px;
}
