@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import "Home.scss";
@import "Navigation.scss";
@import "Coin.scss";
@import "About.scss";
@import "OrderBook.scss";

Body {
  font-family: "Noto Sans KR", sans-serif;
  margin: 0px;
  width: 100%;
  height: 100%;
  .ContentWrap {
    width: 95%;
    margin-left: calc(5% / 2);
    transition: 250ms opacity;
    margin-bottom: 75px;
  }
}

button {
  border-bottom: 1px solid black;
}
.inActive {
  color: #8f8f8f;
}

.fadeAway {
  opacity: 0;
}

h1,
p {
  margin: 0px;
  padding: 0px;
}
